
body {
  margin: auto;
  width: 520px;
  padding: 1em;
  border: 1px solid rgb;
  border-radius: 2em;
  color: rgba(140, 0, 255, 0.616);
}

form {
  margin: auto;
  width: 520px;
  padding: 1em;
  border: 1px solid rgb;
  border-radius: 2em;
  background-color: indianred;
}

label {
  width: 100px;
  display: inline-block;
  color: black;
}