body {
  margin: auto;
  width: 520px;
  padding: 1em;
  border: 1px solid rgb;
  border-radius: 2em;
  
}

form {
  margin: auto;
  width: 520px;
  padding: 1em;
  border: 1px solid rgb;
  border-radius: 2em;
  background-color: rgb(174, 175, 126);
}

label {
  width: 100px;
  display: inline-block;
  color: black;

}